services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: chess_backend_dev
    volumes:
      - ./backend:/app 
    ports:
      - "8080:8080"
    environment:
      - DB_URL=postgres://chess_user:chess_password@db:5432/chess_db
      - REDIS_URL=redis:6379

    command: air -c .air.toml 
    depends_on:
      - db
      - redis

  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: chess_user
      POSTGRES_PASSWORD: chess_password
      POSTGRES_DB: chess_db

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
