services:
  db:
    image: postgres:16-alpine
    container_name: chess_db
    restart: always
    environment:
      POSTGRES_USER: chess_user
      POSTGRES_PASSWORD: chess_password
      POSTGRES_DB: chess_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: chess_redis
    ports:
      - "6380:6379"

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: chess_backend
    ports:
      - "8080:8080"
    environment:
      - DB_URL=postgres://chess_user:chess_password@db:5432/chess_db
      - REDIS_URL=redis:6379
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
